body {
    font-family: 'Helvetica-Bold', sans-serif;
    background-color: #EBF4EC;
    color: #000000;
    margin: 2em;
}

a {
    color: #000000;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #878787;
    transition: 0.3s;
}

.title {
    font-size: 18px;
    font-size: 1.125rem;
}

.headline {
    font-size:24px;
    font-size: 1.5rem;
    display: inline;
}

.quote {
    width: 1000px;
    text-align: left;
    margin: auto
}

.wrapper {
    width: 1000px;
    margin: auto;
}

.footer-col {
    padding: 0 50px 0 0;
    display: inline-block;
    position: relative;
    float: left
}

.footer-colr {
    /*padding: 0 50px 0 0;
    display: inline-block;
    position: relative;*/
    text-align: right;
    float: right;
}

#navbar > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    text-align: center;
    height: 30px;
}

#navbar > ul > li {
    margin: 0 1em;
    display: inline-block;
    float: right;
    position: relative;
}

#current {
    text-decoration: underline;

    /*border-bottom: solid #000000 2px;*/
}

#intro {
    text-align: center;
    font-size: 41px;
}

.typed-cursor{
    font-size: 24px;
    font-family: PragmataPro;
    opacity: 1;
    /*-webkit-animation: blink 0.7s infinite;*/
    /*-moz-animation: blink 0.7s infinite;*/
    animation: blink 0.7s infinite;
}

.associates {
    position: absolute;
    bottom: 0;
    font-size: 12px;
}

#underline {
    text-decoration: underline;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@font-face {
    font-family: 'Helvetica-Bold';
    src: url("./Helvetica-Bold.ttf");
}
